<%= form_with(model: @supervisor, local: true) do |form| %>
  <div class="field">
    <%=form.label :name %>
    <%=form.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%=form.label :email %>
    <%=form.text_field :email %>
  </div>
  <br>
  <div class="field">
    <%=form.label :cellphone %>
    <%=form.text_field :cellphone %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<%end%>
