%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form
    .form__linetop
    .form__container
      %h1 Sign Up
      .form-inputs
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control text-white', placeholder: 'Correo'
      .form-inputs
        = f.password_field :password, autocomplete: "current-password", class: 'form-control text-white', placeholder: 'Contraseña 6 caracteres minimo'
      .form-inputs
        = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control text-white', placeholder: 'Confrmación de contraseña'
      %div.devise_shared
        - if devise_mapping.rememberable?
          %label
            = f.check_box :remember_me, class: 'form-check-input'
            %span Recuerdame
      = render "devise/shared/links"
      .btn_submit
        = f.submit "Registrarse", class: 'btn_login'
