%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .container
    .row.d-flex.justify-content-center.mt-5
      .col-12.col-md-8.col-lg-6.col-xl-5
        .card.py-3.px-2
          .division
            .row
              .col-3
                .line.l
              .col-6
                %span SIGNGUP
              .col-3
                .line.r
          %form.myform
            .form-group
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control text-white', placeholder: 'Correo'
            .form-group
              = f.password_field :password, autocomplete: "current-password", class: 'form-control text-white', placeholder: 'Contraseña 6 caracteres minimo'
            .form-group
              = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control text-white', placeholder: 'Confrmación de contraseña'
            .row
              .col-md-6.col-12
                .form-group.form-check
                  - if devise_mapping.rememberable?
                    %label
                      = f.check_box :remember_me, class: 'form-check-input'
                      %span.fs-5 Recuerdame
              = render "devise/shared/links"
            .form-group.mt-3.d-grid.px-4
              = f.submit "Registrarse", class: 'btn btn-block btn-primary btn-lg'
