%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form
    .form__linetop
    .form__container
      %h1 Log In
      .form-inputs
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Correo'
      .form-inputs
        = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Contraseña'
      %div.devise_shared
        - if devise_mapping.rememberable?
          %label
            = f.check_box :remember_me, class: 'form-check-input'
            %span Recuerdame
      = render "devise/shared/links"
      .btn_submit
        = f.submit "Inicio de Sesión", class: 'btn_login'
