.card{:style => "padding:15px; max-width:300px; margin-top:1em;"}
  %h3.text-uppercase= enterprise.name
  %p.text-secondary= enterprise.address
  %p.text-secondary= enterprise.email
  %p.text-secondary= enterprise.cellphone
  = link_to "Ver mas", enterprise
